<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="{{ path('page_1') }}">Page 1</a></li>
        <li><a href="{{ path('page_2') }}">Page 2</a></li>
        <li><a href="{{ path('page_3') }}">Page 3</a></li>
        <li><a href="/page/haha">Page Haha (Erreur)</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
</nav>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
